<div class="main__categories categories">
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/tile.png" alt="Плитка">
        </div>
        <p class="categories__item-title">Плитка</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/bath.png" alt="Ванны">
        </div>
        <p class="categories__item-title">Ванны</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_3.png" alt="Душевые кабины">
        </div>
        <p class="categories__item-title">Душевые кабины</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_4.png" alt="Унитазы,
        раковины, биде">
        </div>
        <p class="categories__item-title">Унитазы,
            раковины, биде</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_5.png" alt="Мебель для
        ванных комнат">
        </div>
        <p class="categories__item-title">Мебель для
            ванных комнат</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_6.png" alt="Инсталляции">
        </div>
        <p class="categories__item-title">Инсталляции</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_7.png" alt="Мойки">
        </div>
        <p class="categories__item-title">Мойки</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_8.png" alt="Смесители">
        </div>
        <p class="categories__item-title">Смесители</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_9.png" alt="Теплый пол">
        </div>
        <p class="categories__item-title">Теплый пол</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_10.png" alt="Водопровод и отопление">
        </div>
        <p class="categories__item-title">Водопровод и отопление</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_11.png" alt="Насосы">
        </div>
        <p class="categories__item-title">Насосы</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_12.png" alt="Радиаторы,
        полотенцесушители">
        </div>
        <p class="categories__item-title">Радиаторы,
            полотенцесушители</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_13.png" alt="Котлы">
        </div>
        <p class="categories__item-title">Котлы</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_14.png" alt="Водонагреватели">
        </div>
        <p class="categories__item-title">Водонагреватели</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_15.png" alt="Печи банные
        и отопительные">
        </div>
        <p class="categories__item-title">Печи банные
            и отопительные</p>
    </div>
    <div class="categories__item">
        <div class="categories__image">
            <img src="./assets/images/main/categories/item_16.png" alt="Системы водоочистки">
        </div>
        <p class="categories__item-title">Системы водоочистки</p>
    </div>
</div>