<div class="main__filter filter">
    <div class="filter__header">
        Подбор по параметрам
        <img class="filter__arrow" src="./assets/images/main/filter_arrow_down.png" alt="Раскрыть фильтр">
    </div>
    <div class="filter__body">
        <div class="filter__wrapper">
            <ul class="filter__min-filter">

                <li class="param">
                    <div class="param__title">
                        <div class="param__title-text">Вид
                            <img class="param__title-icon" src="./assets/images/main/filter_arrow_body.png"
                                alt="Раскрыть фильтр">
                        </div>
                    </div>
                </li>
                <li class="param">
                    <div class="param__title">
                        <div class="param__title-text">Бренд
                            <img class="param__title-icon" src="./assets/images/main/filter_arrow_body.png"
                                alt="Раскрыть фильтр">
                        </div>
                    </div>
                </li>
                <li class="param">
                    <div class="param__title">
                        <div class="param__title-text">Подвид
                            <img class="param__title-icon" src="./assets/images/main/filter_arrow_body.png"
                                alt="Раскрыть фильтр">
                        </div>
                    </div>
                </li>
                <li class="param">
                    <div class="param__title">
                        <div class="param__title-text">Тип
                            <img class="param__title-icon" src="./assets/images/main/filter_arrow_body.png"
                                alt="Раскрыть фильтр">
                        </div>
                    </div>
                </li>
            </ul>
            <div class="filter__more filter__more-max">Показать больше параметров (27)</div>
        </div>
    </div>
</div>