<main class="main">
    {% include './components/main/filter.twig' %}
    {% include './components/main/slider.twig' %}
    {% include './components/main/categories.twig' %}
    {% include './components/main/content.twig' %}
</main>