.nav {

    .nav__title {
        font-weight: 500;
        font-size: 16px;
    }

    .nav__wrapper {
        margin-top: 14px;
        font-size: 12px;
        line-height: 100%;
        padding-right: 25px;

        .nav__item {
            padding-top: 6px;
            position: relative;
            padding-left: 6px;

            .nav__icon {
                position: absolute;
                top: 8px;
                left: 0;
                width: 9px;
                height: 9px;
                background-image: url('../../assets/images/lside/navigation/expand.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                cursor: pointer;
                z-index: 1;
            }

            .nav__promo {
                display: inline-block;
                vertical-align: middle;
                background: url('../../assets/images/lside/navigation/promo_deactivated.png') no-repeat;
                width: 15px;
                height: 9px;
                cursor: pointer;
                margin-left: 3px;
                position: relative;


                &:hover {
                    color: #0F74D1;
                    background: url('../../assets/images/lside/navigation/promo.png')
                }

                &:hover:after {
                    visibility: visible;
                }

                &::after {
                    position: absolute;
                    top: -8px;
                    left: 15px;
                    width: 126px;
                    height: 25px;
                    padding: 6px 8px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    border-radius: 2px;
                    content: 'Промо-сайт внутри';
                    visibility: hidden;
                    color: #222222;
                    cursor: pointer;
                    background-color: white;
                }


            }

            .nav__stock {
                font-weight: 500;
                color: #F70505;
            }

            .nav__link:hover {
                color: #0F74D1;
            }


        }

        .nav__child {
            &::before {
                position: absolute;
                width: 11px;
                height: 1px;
                content: "";
                top: 11px;
                left: -11px;
                background-color: #222222;
            }

            &::after {
                position: absolute;
                width: 1px;
                height: 100%;
                content: "";
                top: -6px;
                left: -11px;
                background-color: #222222;
            }
        }

        .nav__parent,
        .nav__parent~.nav__item {
            padding-left: 15px;
        }
    }
}