.param__slider-wrapper {
    position: relative;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 19px;
    height: 2px;

    .param__slider-track {
        background-color: #B2B2B2;
        width: 100%;
        height: 2px;
        position: absolute;
        margin: auto;
        top: 0;
    }

    input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        position: absolute;
        margin: auto;
        top: 0;
        background-color: transparent;
        pointer-events: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 2px;
    }

    input[type="range"]::-moz-range-track {
        -moz-appearance: none;
        height: 2px;
    }

    input[type="range"]::-ms-track {
        appearance: none;
        height: 2px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #FFFFFF;
        border-radius: 100%;
        margin-top: -7px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        pointer-events: auto;
        border: 1px solid #B2B2B2;
    }
    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        background-color: #FFFFFF;
        border-radius: 100%;
        margin-top: -5px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        pointer-events: auto;
        border: 1px solid #B2B2B2;
    }
    
    input[type="range"]::-ms-thumb {
        appearance: none;
        background-color: #FFFFFF;
        border-radius: 100%;
        margin-top: -5px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        pointer-events: auto;
        border: 1px solid #B2B2B2;
    }
    
    input[type="range"]:active::-webkit-slider-thumb {
        background-color: #0F74D1;
    }

}

.param__slider-values {
    width: 100%;
    display: flex;
    position: relative;


    &::before {
        content: "от";
        position: absolute;
        color: #B2B2B2;
        bottom: 6px;
        left: 6px;
    }

    &::after {
        content: "до";
        position: absolute;
        color: #B2B2B2;
        bottom: 6px;
        right: 60px;
    }

    .param__slider-value {
        background: #FFFFFF;
        border: 1px solid #B2B2B2;
        border-radius: 3px;
        width: 80px;
        padding: 5px 0 5px 25px;


        &::placeholder {
            color: #B2B2B2;
        }

        &:first-child {
            margin-right: 6px;
        }
    }
}