<div class="footer container">
    <div class="footer__icons">
        <div class="footer__logo">
            <a href="#"><img src="../assets/images/logo_short.png" alt="Логотип Афоня.рф"></a>
        </div>
        <div class="footer__social">
            <div class="footer__icon">
                <img src="../assets/images/vk_icon.svg" alt="">
            </div>
            <div class="footer__icon">
                <img src="../assets/images/instagramm_icon.svg" alt="">
            </div>
            <div class="footer__icon">
                <img src="../assets/images/facebook_icon.svg" alt="">
            </div>
            <div class="footer__icon_youtube">
                <img src="../assets/images/youtube_icon.svg" alt="">
            </div>
        </div>
    </div>
    <ul class="footer__nav nav">
        <li class="nav__item nav__item_bold"><a href="#">Меню</a></li>
        <li class="nav__item"><a href="#">Покупателю</a></li>
        <li class="nav__item"><a href="#">Контакты</a></li>
        <li class="nav__item"><a href="#">Доставка</a></li>
        <li class="nav__item"><a href="#">Разное</a></li>

        <li class="nav__item nav__item_bold user"><a href="#">Личный кабинет</a></li>
        <li class="nav__item"><a href="#">Список заказов</a></li>
        <li class="nav__item"><a href="#">Настройки аккаунта</a></li>
        <li class="nav__item"><a href="#">Корзина</a></li>
        <li class="nav__item"><a href="#">Просмотренные товары</a></li>
    </ul>
    <div class="footer__info">
        <p>© Интернет-магазин сантехники и плитки «Афоня.рф» 2021</p>
        <p>Цена и информация о товарах и услугах на сайте не являются публичной офертой</p>
    </div>
</div>
