<footer class="footer-wrapper">
  <div class="footer container">
    <div class="footer__icons">
      <div class="footer__logo">
        <a href="#"><img src="./assets/images/footer/footer_logo.png" alt="Логотип Афоня.рф"></a>
      </div>
      <div class="footer__social">
        <img src="./assets/images/footer/vk.png" alt="">
        <img src="./assets/images/footer/instagramm.png" alt="">
        <img src="./assets/images/footer/facebook.png" alt="">
        <img src="./assets/images/footer/youtoobe.png" alt="">
      </div>
    </div>
    <ul class="footer__nav nav">
      <li class="nav__item"><a href="#">Меню</a></li>
      <li class="nav__item nav__item_deactivated"><a href="#">Покупателю</a></li>
      <li class="nav__item"><a href="#">Контакты</a></li>
      <li class="nav__item"><a href="#">Доставка</a></li>
      <li class="nav__item"><a href="#">Разное</a></li>

      <li class="nav__item"><a href="#">Личный кабинет</a></li>
      <li class="nav__item"><a href="#">Список заказов</a></li>
      <li class="nav__item"><a href="#">Настройки аккаунта</a></li>
      <li class="nav__item"><a href="#">Корзина</a></li>
      <li class="nav__item"><a href="#">Просмотренные товары</a></li>
    </ul>
    <div class="footer__info">
      <p>© Интернет-магазин сантехники и плитки «Афоня.рф» 2021</p>
      <p>Цена и информация о товарах и услугах на сайте не являются публичной офертой</p>
    </div>
  </div>
</footer>