<div class="header-up container">
    <div class="header-up__info">
        <div class="location">
            <div class="location__icon">
                <img src="../assets/images/location.svg" alt="Местополжение">
            </div>
            <span>Санкт-Петербург</span>
        </div>
        <div class="phone">
            <div class="phone__icon">
                <img src="../assets/images/phone.svg" alt="Контактный номер">
            </div>
            <span>+7 812 648 22 11</span>
        </div>
    </div>
    <ul class="header-up__list">
        <li class="header-up__item">
            <a href="/promo/">
                <div class="sales__icon">
                    <img src="../assets/images/sales.svg" alt="Иконка акции">
                </div>
                Акции
            </a>
        </li>
        <li class="header-up__item"><a href="/p/pokupatelu/">Покупателю</a></li>
        <li class="header-up__item"><a href="/p/dostavka/">Доставка</a></li>
        <li class="header-up__item"><a href="/p/contacts/">Контакты</a></li>
        <li class="header-up__item"><a href="/p/santehnika-optom/">Оптовый отдел</a></li>
        <li class="header-up__item"><a href="/p/raznoe/certificates/">Разное</a></li>
    </ul>
</div>
