<header class="header-wrapper">
    <div class="header container">
      <div class="header__logo">
        <a href="#"><img src="./assets/images/header/logo.png" alt="Логотип Афоня.рф"></a>
      </div>
      <ul class="header__nav nav">
        <li class="nav__item"><a href="#">Покупателю</a></li>
        <li class="nav__item nav__item_deactivated"><a href="#">Доставка</a></li>
        <li class="nav__item"><a href="#">Контакты</a></li>
        <li class="nav__item"><a href="#">Оптовый отдел</a></li>
        <li class="nav__item"><a href="#">Разное</a></li>
        <li class=" nav__item nav__item_notification">
          <a href="#">Акции</a>
          <span>46</span>
        </li>
      </ul>
      <div class="header__info">
        <div class="header__location">
          <img src="./assets/images/header/location.png" alt="Местоположение">
          <span>Санкт-Петербург</span>
          <img src="./assets/images/header/arrow.png" alt="Другие города">
        </div>
        <div class="header__telephone">
          <img src="./assets/images/header/telephone.png" alt="Телефон">
          <span>8 (812) 648-22-11</span>
        </div>
      </div>
    </div>
  </header>