<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Афоня.рф — Интернет-магазин сантехники и плитки</title>
    <link href="../style/reset.css" rel="stylesheet">
    <link href="../style/fonts.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/header.css" rel="stylesheet">
    <link href="../style/footer.css" rel="stylesheet">
    <link href="../style/lside/style.css" rel="stylesheet">
    <link href="../style/lside/navigation.css" rel="stylesheet">
    <link href="../style/lside/addresses.css" rel="stylesheet">
    <link href="../style/lside/info.css" rel="stylesheet">
    <link href="../style/main/style.css" rel="stylesheet">
    <link href="../style/main/filter.css" rel="stylesheet">
    <link href="../style/main/slider.css" rel="stylesheet">
    <link href="../style/main/categories.css" rel="stylesheet">
    <link href="../style/rside/style.css" rel="stylesheet">
    <link href="../style/rside/search.css" rel="stylesheet">
    <link href="../style/rside/user.css" rel="stylesheet">
</head>

<body>
    {% include 'header.twig' %}
    {% include 'page.twig' %}
    {% include 'footer.twig' %}
</body>

</html>