<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Афоня.рф — Интернет-магазин сантехники и плитки</title>
    <link href="../style/reset.css" rel="stylesheet">
    <link href="../style/fonts.css" rel="stylesheet">
    <link href="../style/style.scss" rel="stylesheet">
    <link href="./style/header.scss" rel="stylesheet">
    <link href="../style/footer.scss" rel="stylesheet">
    <link href="../style/lside/style.scss" rel="stylesheet">
    <link href="../style/lside/navigation.scss" rel="stylesheet">
    <link href="../style/lside/addresses.scss" rel="stylesheet">
    <link href="../style/lside/info.scss" rel="stylesheet">
    <link href="../style/main/style.scss" rel="stylesheet">
    <link href="../style/main/filter.scss" rel="stylesheet">
    <link href="../style/main/slider.scss" rel="stylesheet">
    <link href="../style/main/categories.scss" rel="stylesheet">
    <link href="../style/rside/style.scss" rel="stylesheet">
    <link href="../style/rside/search.scss" rel="stylesheet">
    <link href="../style/rside/user.scss" rel="stylesheet">
</head>

<body>
    {% include 'header.twig' %}
    
    {% include 'footer.twig' %}
</body>

</html>