<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Афоня.рф — Интернет-магазин сантехники и плитки</title>
    <link href="../style/reset.css" rel="stylesheet">
    <link href="../style/fonts.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/constacts.css" rel="stylesheet">
    <link href="../style/manager.css" rel="stylesheet">

</head>

<body>
    {% include './components/manager.twig' %}
    {% block javascripts %}
    <script type="text/javascript" src="./components/rating.js"></script>
    {% endblock %}
</body>

</html>