<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Афоня.рф — Интернет-магазин сантехники и плитки</title>

    {% block stylesheets %}
    <link href="../assets/css/reset.css" rel="stylesheet">
    <link href="../assets/css/fonts.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/popup.css" rel="stylesheet">
    {% endblock %}

</head>

<body>
    <main class="contacts-container">
        {% block content %}
        {% endblock %}
    </main>

    <div class="popup">
        <div class="popup__body">
            <div class="popup__close">X</div>
            <div class="popup__content"></div>
        </div>
    </div>
    {% block javascript %}
    {% endblock %}
</body>

</html>