<div class="page">
    <div class="content container">
        {% include './components/lside/lside.twig' %}
        {% include './components/main/main.twig' %}
        {% include './components/rside/rside.twig' %}
    </div>
</div>