body {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 100%;
    color: #222222;
    font-weight: 400;
    font-size: 12px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* полоса прокрутки (скроллбар) */
body ::-webkit-scrollbar {
    width: 6px;
    background-color: #FFFFFF;
}

/* ползунок скроллбара */
body ::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    border-radius: 6px;
}

body ::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

.container {
    width: 80vw;
}

@media (max-width: 768px) {
    .container {
        width: 100vw;
    }
}

.page {
    margin-top: 22px;
}

.content {
    display: grid;
    grid-template-areas:
        "nav main aside";
    grid-template-columns: 0.235fr 1fr 0.207fr;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .content {
        padding: 0 10px;
        display: block;
    }
}

/* Lside */
.lside {
    grid-area: nav;
}

/* End Lside */

/* Products */
.products {
    grid-area: main;
    margin-left: 40px;
    margin-right: 22px;
}

/* END Products */

/* Rside */
.rside {
    grid-area: aside;
}

@media (max-width: 768px) {

    .rside,
    .lside {
        display: none;
    }

    .products {
        margin: 0;
    }
}

.rside img,
.products img,
.lside img {
    object-fit: contain;
    object-position: top;
}

.scroll-up {
    position: fixed;
    right: calc(12px + 50 * ((100vw - 768px) / (1920 - 768)));
    top: 60vh;
    opacity: 0;
    visibility: hidden;
}

.scroll-up_active {
    opacity: 1;
    visibility: visible;
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: -14px;
    content: '\2191';
}

.request-call {
    position: fixed;
    right: 0;
    top: 70vh;
    background-color: #0F74D1;
    width: 44px;
    height: 50px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-call img {
    width: 17px;
}

@media (max-width: 768px) {
    .scroll-up {
        background-color: #fff;
        color: #666;
        box-shadow: 0 1px 4px #bfbfbf;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 80vh;
        right: calc(30px + 50 * ((100vw - 768px) / (1920 - 768)));
    }

    .scroll-up::before {
        position: relative;
        top: 0;
        left: 0;
        content: '\276F';
        transform: rotate(-90deg);
        font-size: 25px;
    }

    .scroll-up span {
        display: none;
    }

    .request-call {
        display: none;
    }
}

/* END Rside */
