<main class="contacts-container">
    <div class="shop">
        <h2 class="shop__title">Афоня №2 — Ивановская</h2>
        <div class="shop__location">
            <div class="shop__map">
                <img src="../../assets/images/map.jpg" alt="Карта с расположением магазина">
            </div>
            <div class="shop__description">
                <div class="shop__image">
                    <img src="../../assets/images/shop-image.jpg" alt="Фотография магазина">
                </div>
                <div class="shop__info info">
                    <h3 class="info__title">Афоня №2 — Ивановская</h3>
                    <p class="info__address">Ивановская ул., 17</p>
                    <div class="info__phones">
                        <a class="info__phone" href="tel:+7 (812) 648-22-11(доб. 002)">+7 (812) 648-22-11(доб. 002)</a>
                        <a class="info__phone" href="tel:+7 (812) 560-31-89">+7 (812) 560-31-89</a>
                        <a class="info__phone" href="tel:+7 (812) 983-43-06">+7 (812) 983-43-06</a>
                    </div>
                    <a class="info__mail" href="mailto:iv@afonya-spb.ru">iv@afonya-spb.ru</a>
                    <div class="info__tags">
                        <img src="../../assets/images/info-tags.png" alt="">
                    </div>
                </div>
            </div>
            <div class="shop__managers managers">
                <h2 class="managers__title">Менеджеры магазина</h2>
                <div class="managers__cards">
                    <div class="managers__card">
                        <p>Маркова Анна</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>