<main class="contacts-container">
    <div class="shop">
        <h2 class="shop__title">Афоня №2 — Ивановская</h2>
        <div class="shop__location">
            <div class="shop__map">
                <img src="../../assets/images/map.jpg" alt="Карта с расположением магазина">
                {# TODO вставить API яндекс карты #}
            </div>
            <div class="shop__description">
                <div class="shop__image">
                    <img src="../../assets/images/shop-image.jpg" alt="Фотография магазина">
                </div>
                <div class="shop__info info">
                    <h3 class="info__title">Афоня №2 — Ивановская</h3>
                    <p class="info__address">Ивановская ул., 17</p>
                    <div class="info__phones">
                        <a class="info__phone" href="tel:+7 (812) 648-22-11(доб. 002)">+7 (812) 648-22-11(доб. 002)</a>
                        <a class="info__phone" href="tel:+7 (812) 560-31-89">+7 (812) 560-31-89</a>
                        <a class="info__phone" href="tel:+7 (812) 983-43-06">+7 (812) 983-43-06</a>
                    </div>
                    <a class="info__mail" href="mailto:iv@afonya-spb.ru">iv@afonya-spb.ru</a>
                    <div class="info__tags">
                        <img src="../../assets/images/info-tags.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shop__managers managers">
            <h2 class="managers__title">Менеджеры магазина</h2>
            <div class="managers__cards">
                <div class="managers__card card">
                    <div class="card__image">
                        <img src="../../assets/images/manager_photo_1.jpg" alt="Фото менеджера">
                    </div>
                    <div class="card__text">
                        <p class="card__title">Маркова Анна</p>
                        <div class="card__workmanship">
                            <div class="card__stars">
                                <img src="../../assets/images/manager_1_stars.png" alt="">
                            </div>
                            <a class="card__comments" href="#">30 отзывов</a>
                        </div>
                        <p class="card__position">Продавец-консультант, старший менеджер по продажам</p>
                        <div class="card__contact">
                            <div class="card__phone"></div>
                            <div class="card__mail"></div>
                            {# TODO уточнить фон синим становится при наведении, либо назначается активным #}
                        </div>
                    </div>
                </div>
                <div class="managers__card card">
                    <div class="card__image">
                        <img src="../../assets/images/manager_photo_2.jpg" alt="Фото менеджера">
                    </div>
                    <div class="card__text">
                        <p class="card__title">Беляев Никита</p>
                        <div class="card__workmanship">
                            <div class="card__stars">
                                <img src="../../assets/images/manager_1_stars.png" alt="">
                            </div>
                            <a class="card__comments" href="#">30 отзывов</a>
                        </div>
                        <p class="card__position">Продавец-консультант, старший менеджер по продажам</p>
                        <div class="card__contact">
                            <div class="card__phone"></div>
                            <div class="card__mail"></div>
                            {# TODO уточнить фон синим становится при наведении, либо назначается активным #}
                        </div>
                    </div>
                </div>
                <div class="managers__card card">
                    <div class="card__image">
                        <img src="../../assets/images/manager_photo_3.jpg" alt="Фото менеджера">
                    </div>
                    <div class="card__text">
                        <p class="card__title">Ефимов Василий</p>
                        <div class="card__workmanship">
                            <div class="card__stars">
                                <img src="../../assets/images/manager_1_stars.png" alt="">
                            </div>
                            <a class="card__comments" href="#">30 отзывов</a>
                        </div>
                        <p class="card__position">Продавец-консультант, старший менеджер по продажам</p>
                        <div class="card__contact">
                            <div class="card__phone"></div>
                            <div class="card__mail"></div>
                            {# TODO уточнить фон синим становится при наведении, либо назначается активным #}
                        </div>
                    </div>
                </div>
                <div class="managers__card card">
                    <div class="card__image">
                        <img src="../../assets/images/manager_photo_4.jpg" alt="Фото менеджера">
                    </div>
                    <div class="card__text">
                        <p class="card__title">Губин Денис</p>
                        <div class="card__workmanship">
                            <div class="card__stars">
                                <img src="../../assets/images/manager_1_stars.png" alt="">
                            </div>
                            <a class="card__comments" href="#">30 отзывов</a>
                        </div>
                        <p class="card__position">Продавец-консультант, старший менеджер по продажам</p>
                        <div class="card__contact">
                            <div class="card__phone"></div>
                            <div class="card__mail"></div>
                            {# TODO уточнить фон синим становится при наведении, либо назначается активным #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whyus">
            <div class="whyus__image">
                <img src="../../assets/images/team_photo.jpg" alt="">
            </div>
            <div class="whyus__content">
                <h3 class="whyus__title">Почему мы</h3>
                <div class="whyus__text">
                    <p>
                        «Афоня» - крупнейшая сеть магазинов сантехники и плитки на Северо-Западе. Мы официальный партнёр
                        ведущих мировых производителей: GEBERIT, DURAVIT, Hansgrohe, Jacob Delafon, Laufen и многих
                        других.
                    </p>
                    <p>
                        В просторных магазинах с выставочными залами и оборудованными зонами для просмотров каталогов и
                        консультаций вы легко найдете все необходимое: от фитингов и оборудования для водоснабжения и
                        отопления до керамической плитки и эксклюзивной сантехники.
                    </p>
                    <p>
                        Наши консультанты постоянно проходят повышение квалификации, они профессионально помогут вам в
                        подборе инженерных систем, сантехники и плитки. Дизайнерам и монтажникам мы предлагаем
                        привлекательные условия сотрудничества.
                    </p>
                </div>
            </div>
        </div>
        <div class="advantages">
            <h3 class="advantages__title">Наша задача — помочь вам создать комфортную и современную ванную комнату</h3>
            <div class="advantages__items">
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_1.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Персональные консультанции лучших специалистов в городе</p>
                </div>
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_2.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Подбор сантехники и плитки из онлайн каталога</p>
                </div>
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_3.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Сотни товаров по специальным низким ценам</p>
                </div>
                <div class="advantages__item">
                    <div class="advantages__image">
                        <img src="../../assets/images/advantages_4.png" alt="Лучшие специалисты">
                    </div>
                    <p class="advantages__text">Только самые актуальные каталоги поставщиков</p>
                </div>

            </div>
        </div>
    </div>
</main>