<main class="contacts-container">
    <div class="manager">
        <div class="manager__card">
            <div class="manager__photo">
                <img src="../../assets/images/manager_1.jpg" alt="Фото менеджера">
            </div>
            <div class="manager__info">
                <div class="manager__main-text">
                    <div class="">
                        <h1 class="manager__name">Маркова Анна</h1>
                        <p class="manager__position">Продавец-консультант, старший менеджер по продажам</p>
                        <div class="manager__location location">
                            <div class="location__icon">
                                <img src="../../assets/images/location.png" alt="Иконка локации магазина">
                            </div>
                            <p class="location__address">Народная ул. д.21</p>
                        </div>
                    </div>
                    <div class="manager__social">
                        <div class="">
                            <img src="../../assets/images/manager_1_stars.png" alt="Оценка менеджера">
                        </div>
                        <a class="manager__comments" href="#">30 отзывов</a>
                        <div class="card__contact">
                            <div class="card__phone"></div>
                            <div class="card__mail"></div>
                            {# TODO уточнить фон синим становится при наведении, либо назначается активным #}
                        </div>
                    </div>
                </div>
                <div class="manager__skils">
                    {# TODO переделать в один параграф. Скорее всего с бэка придет одним значением #}
                    <p>
                        Старший продавец высшей категории. Опыт работы в продажах сантехники 10 лет. Имеет сертификаты
                        Hansgrohe, TOTO, Vaillant, Protherm, HUPPE, Vitra, Radomir, Grundfos, Geberit, Джилекс,
                        SFA,Creavit.
                    </p>
                    <p>
                        Награждена поездками на завод Акватек, Geberit.
                    </p>
                    <p>
                        Лучший продавец 2018 года. Поможет вам подобрать ванну или душевую кабину, смеситель, унитаз и
                        инсталляцию, раковину и кухонную мойку, мебель для ванны, радиатор, теплые полы, инженерную
                        сантехнику и многое другое.
                    </p>
                </div>
            </div>
        </div>
        <div class="manager__certificates certificates">
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_1.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_2.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_3.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
            <div class="certificates__item">
                <div class="certificates__img">
                    <img src="../../assets/images/certificate_4.jpg" alt="Сертификат">
                </div>
                <div class="certificates__loop"></div>
            </div>
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_5.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_1.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_6.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
            <div class="certificates__item">
                <div class="">
                    <img src="../../assets/images/certificate_7.jpg" alt="">
                </div>
                <div class=""></div>
            </div>
        </div>
        <div class="feedback">
            <div class="feedback__header">
                <h3 class="feedback__title">Отзывы</h3>
                <button class="feedback__button">Добавить отзыв</button>
            </div>
            <div class="feedback__items">
                <div class="feedback__item comment">
                    <div class="comment__header">
                        <div class="comment__author">
                            <div class="comment__avatar">
                                <img src="../../assets/images/reviews_avatar_1.png" alt="Аватар пользователя">
                            </div>
                            <p class="comment__name">Евгений Морозов</p>
                        </div>
                        <div class="comment__stars">
                            <img src="../../assets/images/manager_1_stars.png" alt="">
                        </div>
                    </div>
                    <p class="comment__text">
                        С декабря стал, можно сказать, постоянным покупателем. Все для ремонта санузла покупал в
                        магазине
                        на Народной. Мой менеджер Максим Скоробогатов. Подбор, рекомендации, работа с клиентом, просто
                        на высшем уровне. <br> Качество самих материалов, как инженерной сантехники, так и чистовой,
                        отличное.
                    </p>
                </div>
                <div class="feedback__item comment">
                    <div class="comment__header">
                        <div class="comment__author">
                            <div class="comment__avatar">
                                <img src="../../assets/images/reviews_avatar_2.png" alt="Аватар пользователя">
                            </div>
                            <p class="comment__name">Маргарита</p>
                        </div>
                        <div class="comment__stars">
                            <img src="../../assets/images/manager_1_stars.png" alt="">
                        </div>
                    </div>
                    <p class="comment__text">
                        Спасибо, все очень быстро и четко.
                    </p>
                </div>
                <div class="feedback__item comment">
                    <div class="comment__header">
                        <div class="comment__author">
                            <div class="comment__avatar">
                                <img src="../../assets/images/reviews_avatar_3.png" alt="Аватар пользователя">
                            </div>
                            <p class="comment__name">Андрей Никитин</p>
                        </div>
                        <div class="comment__stars">
                            <img src="../../assets/images/manager_1_stars.png" alt="">
                        </div>
                    </div>
                    <p class="comment__text">
                        Не часто пишу отзывы , но в данном случае не смог пройти мимо , так как не часто встетишь сервис
                        на столь высоком уровне!!! магазин и сотрудники просто душки)) мы были там с женой 11.07.2020,
                        (жена довольно-таки привередлива, как и все девушки) выбирали кафель..Девушка менеджер помогала
                        нам с выбором часа 2.. не меньше, то по цене не сходилось , то по цвету ..находила решения ,
                        искала образцы , все показала рассказала! ну умничка же) спасибо ей огромное! Переодически
                        помогал мужчина , видимо там старший, очень приятный человек, забавный, при этом профессионал в
                        своем деле ! За все 2 часа мы не разу не почувствовали , что мы им надоели и это очень
                        порадовало в итоге.
                    </p>
                </div>
                <div class="feedback__item comment">
                    <div class="comment__header">
                        <div class="comment__author">
                            <div class="comment__avatar">
                                <img src="../../assets/images/reviews_avatar_1.png" alt="Аватар пользователя">
                            </div>
                            <p class="comment__name">Евгений Морозов</p>
                        </div>
                        <div class="comment__stars">
                            <img src="../../assets/images/manager_1_stars.png" alt="">
                        </div>
                    </div>
                    <p class="comment__text">
                        С декабря стал, можно сказать, постоянным покупателем. Все для ремонта санузла покупал в
                        магазине
                        на Народной. Мой менеджер Максим Скоробогатов. Подбор, рекомендации, работа с клиентом, просто
                        на высшем уровне. <br> Качество самих материалов, как инженерной сантехники, так и чистовой,
                        отличное.
                    </p>
                </div>
                <div class="feedback__item comment">
                    <div class="comment__header">
                        <div class="comment__author">
                            <div class="comment__avatar">
                                <img src="../../assets/images/reviews_avatar_2.png" alt="Аватар пользователя">
                            </div>
                            <p class="comment__name">Маргарита</p>
                        </div>
                        <div class="comment__stars">
                            <img src="../../assets/images/manager_1_stars.png" alt="">
                        </div>
                    </div>
                    <p class="comment__text">
                        Спасибо, все очень быстро и четко.
                    </p>
                </div>
                <div class="feedback__item comment">
                    <div class="comment__header">
                        <div class="comment__author">
                            <div class="comment__avatar">
                                <img src="../../assets/images/reviews_avatar_3.png" alt="Аватар пользователя">
                            </div>
                            <p class="comment__name">Андрей Никитин</p>
                        </div>
                        <div class="comment__stars">
                            <img src="../../assets/images/manager_1_stars.png" alt="">
                        </div>
                    </div>
                    <p class="comment__text">
                        Не часто пишу отзывы , но в данном случае не смог пройти мимо , так как не часто встетишь сервис
                        на столь высоком уровне!!! магазин и сотрудники просто душки)) мы были там с женой 11.07.2020,
                        (жена довольно-таки привередлива, как и все девушки) выбирали кафель..Девушка менеджер помогала
                        нам с выбором часа 2.. не меньше, то по цене не сходилось , то по цвету ..находила решения ,
                        искала образцы , все показала рассказала! ну умничка же) спасибо ей огромное! Переодически
                        помогал мужчина , видимо там старший, очень приятный человек, забавный, при этом профессионал в
                        своем деле ! За все 2 часа мы не разу не почувствовали , что мы им надоели и это очень
                        порадовало в итоге.
                    </p>
                </div>
            </div>
            <div class="feedback__form fed-form-wrapper">
                <h3 class="fed-form__title">Оставить отзыв</h3>
                <form class="fed-form" action="">
                    <div class="fed-form__rating">
                        <div class="rating__body">
                            <div class="rating__active"></div>
                            <div class="rating__items">
                                <input type="radio" class="rating__item" value="1" name="rating">
                                <input type="radio" class="rating__item" value="2" name="rating">
                                <input type="radio" class="rating__item" value="3" name="rating">
                                <input type="radio" class="rating__item" value="4" name="rating">
                                <input type="radio" class="rating__item" value="5" name="rating">
                            </div>
                        </div>
                        <div class="rating__value">Хорошо</div>
                    </div>
                    <div class="fed-form__body">
                        <div class="fed-form__contacts">
                            <div class="fed-form__item">
                                <label class="fed-form__label">Имя*</label>
                                <input class="fed-form__input" type="text" name="" value="" placeholder="Введите имя">
                            </div>
                            <div class="fed-form__item">
                                <label class="fed-form__label">E-mail*</label>
                                <input class="fed-form__input" type="text" name="" value=""
                                    placeholder="Введите e-mail">
                            </div>
                            <div class="fed-form__item">
                                <label class="fed-form__label">Телефон</label>
                                <input class="fed-form__input" type="text" name="" value=""
                                    placeholder="Введите телефон">
                            </div>
                        </div>
                        <div class="fed-form__text">
                            <label for="" class="fed-form__label">Ваш отзыв*</label>
                            <textarea name="comment" class="fed-form__textarea" placeholder="Введите текст"></textarea>
                        </div>
                    </div>
                    <button class="fed-form__button feedback__button">Добавить отзыв</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>