.main__categories {
    margin-top: 14px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, 101px);
    padding-left: 32px;
    column-gap: 28px;
    row-gap: 22px;
    justify-items: center;
}

.categories__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categories__image {
    height: 98px;
    width: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories__item-title {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    margin-top: 14px;
}

.categories__item-title:hover {
    color: #0F74D1;
}