.footer-wrapper {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    align-items: center;
}
.footer__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}