.header-wrapper {
    background: #FFFFFF;

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .header__logo {}
    }

    .header__nav {
        margin-left: 269px;
    }

    .nav {
        display: flex;
        justify-content: center;

        & li {
            margin-right: 40px;
        }
    }
}