.header-wrapper {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .header__logo {
            margin-left: 20px;
        }

        .header__nav {
            margin-right: 23px;
        }

        .nav {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 40px;
            color: #222222;

            &__item {
                padding: 30px 0;

                & span {
                    background: #F70505;
                    border-radius: 7px;
                    padding: 3px 6px;
                    font-weight: 500;
                    color: #FFFFFF;
                    margin-left: 6px;
                }
            }

            &_deactivated {
                color: #B2B2B2;
            }

            &_notification {
                color: #F70505;
            }
        }


        .header__info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .header__location,
            .header__telephone {
                display: flex;
                align-items: center;
                cursor: pointer;

                span {
                    margin-left: 14px;
                    margin-right: 6px;
                }
            }

            .header__telephone {
                margin-top: 10px;
            }
        }
    }
}