.manager {
    max-width: 1055px;
    background: #FFFFFF;
    margin-top: 20px;
    padding-bottom: 158px;
    padding-top: 9px;
}

.manager__card {
    display: flex;
}

.manager__photo {
    width: 275px;
    flex-shrink: 0;
}

.manager__photo img {
    object-fit: cover;
}

.manager__info {
    width: 100%;
    margin-left: 15px;
}

.manager__main-text {
    display: flex;
    justify-content: space-between;
}

.manager__name {
    font-weight: 500;
    font-size: 30px;
}

.manager__position {
    margin-top: 10px;
    line-height: 130%;
}

.manager__location {
    margin-top: 20px;
}

.location {
    display: flex;
    align-items: center;
}

.location__icon {
    width: 14px;
    margin-right: 10px;
}

.location__address {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%
}

.manager__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.manager__comments {
    margin-top: 10px;
    color: #0F74D1;
}

.card__contact {
    display: flex;
    margin-top: 20px;
}

.card__phone,
.card__mail {
    border-radius: 100%;
    width: 27px;
    height: 27px;
    background-color: #B2B2B2;
    background-repeat: no-repeat;
    background-position: center center;
}

.card__phone {
    background-image: url('../assets/images/manager_call.png');
}

.card__mail {
    margin-left: 8px;
    background-image: url('../assets/images/manager_mail.png');
}

.manager__skils {
    margin-top: 20px;
    line-height: 130%;
    max-width: 657px;
}

.manager__skils p {
    margin-bottom: 10px;
}

.manager__certificates {
    margin-top: 20px;
}

.certificates {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.certificates__item {
    border-radius: 5px;
    position: relative;
}

.certificates__loop {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../assets/images/loop.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.certificates__item:hover .certificates__loop {
    visibility: visible;
    cursor: pointer;
}

.feedback {
    margin-top: 40px;
    width: 100%;
}

.feedback__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.feedback__title {
    font-weight: 500;
    font-size: 20px;
}

.feedback__button {
    background-color: #0F74D1;
    line-height: 16px;
    color: #FFFFFF;
    padding: 8px 20px;
}

.comment {
    padding-bottom: 20px;
    border-bottom: solid 1px #C4C4C4;
    margin-top: 20px;
}

.comment:last-child {
    border-bottom: none;
    border-bottom: 0;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__author {
    display: flex;
    align-items: center;
}

.comment__avatar {
    width: 36px;
}

.comment__name {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
}

.comment__text {
    margin-top: 10px;
}

.fed-form {
    display: flex;
    flex-direction: column;
}

.fed-form__title {
    font-weight: 500;
    font-size: 20px;
}

.fed-form__rating {
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 0.75;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
    color: #CCCCCC;
}

.rating__active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFCA28;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    color: #CCCCCC;
    margin-left: 20px;
    font-size: 14px;
    line-height: 1;
}

.fed-form__body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.fed-form__contacts {
    flex: 0 0 182px;
}

.fed-form__item:not(:first-child) {
    margin-top: 20px;
}

.fed-form__label {
    font-weight: 500;
}

.fed-form__input {
    font-size: 14px;
    line-height: 100%;
    padding: 8px 10px;
    border: 1px solid #CCCCCC;
    width: 100%;
    margin-top: 10px;
}

.fed-form__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 90px;
}

.fed-form__textarea {
    border: 1px solid #CCCCCC;
    resize: none;
    height: 100%;
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 100%;
}

.fed-form__button {
    margin-top: 20px;
    align-self: flex-end;
}