body {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #B2B2B2;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .filter {
        width: 1024px;
        color: #FFFFFF;
        border-radius: 6px;
        background-color: #F8F8F8;

        .filter__title {
            padding: 10px 0 12px 20px;
            background-color: #0F74D1;

            .filter__arrow_up {
                transform: rotate(180deg);
            }

        }

        .filter-wrapper {
            display: none;
        }

        .filter__min-filter,
        .filter__max-filter {
            background-color: #F8F8F8;
            color: #222222;
            margin: 14px 20px 0;
            display: grid;
            grid-template-columns: 242px 265px 292px auto;
            font-size: 12px;
            line-height: 14px;

            @media (max-width: 1023px) {
                grid-template-columns: repeat(4, 1fr);
                justify-content: space-around;

            }

            @media (max-width: 767px) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 33px 0px;
                justify-content: space-around;

            }

            @media (max-width: 599px) {
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 33px;
            }

            @media (max-width: 389px) {
                grid-template-columns: repeat(1, 1fr);
                margin-bottom: 33px;
            }
        }

        .filter__max-filter {
            grid-template-rows: 70px 93px;
            margin: 40px 20px 0;
            position: absolute;
            opacity: 0;

            @media (max-width: 767px) {
                grid-template-rows: none;
            }
        }

        .filter__max-filter_visible {
            position: relative;
            opacity: 1;
        }


        .filter__more {
            font-weight: 500;
            font-size: 14px;
            color: #0F74D1;
            cursor: pointer;
            margin-top: 20px;
            margin-bottom: 21px;
            position: relative;
            margin-left: 20px;
        }
        .more__max{
            margin-top: 0;
        }

    }
}