body {
    font-family: 'Roboto';
    background: linear-gradient(0deg, #D5E4ED, #D5E4ED), #E4EAF3;
    display: grid;
    grid-row-gap: 20px;
    color: #222222;
    font-size: 14px;
    line-height: 100%;
}

.page {
    display: flex;
}


.container {
    max-width: 1536px;
    position: relative;
}

.content {
    display: grid;
    grid-template-areas:
        "nav main aside";
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 14px 6px 14px 16px;
}