body {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;

    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #B2B2B2;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .filter {
        width: 1024px;
        color: #FFFFFF;
        border-radius: 6px;
        background-color: #F8F8F8;

        .filter__title {
            padding: 10px 0 12px 20px;
            background-color: #0F74D1;

            .filter__arrow_up {
                transform: rotate(180deg);
            }

        }

        .filter__min-filter {
            background-color: #F8F8F8;
            color: #222222;
            margin: 14px 20px 22px 20px;

            .filter__groupparams {
                display: grid;
                margin-bottom: 20px;
                grid-template-columns: 242px 265px 292px auto;
                font-size: 12px;
                line-height: 14px;
            }

            .filter__more {
                font-weight: 500;
                font-size: 14px;
                color: #0F74D1;
            }
        }
    }
}