<aside>
    <div class="rside__banner banner">
        <p class="banner__title">ИНТЕРЕСНО</p>
        <p>о сантехнике и плитке</p>
        <button class="banner__button">Подробнее</button>
    </div>
    <div class="rside__all-banners">
        <img src="./assets/images/rside/banner/all-banners.png" alt="Все баннеры">
    </div>
</aside>