<div class="rside__user user-wrapper">
    <div class="user__activity">
        <div class="user__basket basket">
            <div class="basket__logo">
                <img src="./assets/images/rside/user/basket.png" alt="Корзина">
                <span class="basket__notification">26</span>
            </div>
            <p class="basket__text">на <span class="basket__sum">2 324 589 р.</span></p>
        </div>
        <div class="user__favorite favorite">
            <img src="./assets/images/rside/user/favorite.png" alt="Избранное">
            <span class="favorite__notification">0</span>
        </div>
    </div>
    <div class="user__account-wrapper">
        <div class="user__account">
            <div class="user__avatar">
                <img src="./assets/images/rside/user/avatar.png" alt="Аватарка">
            </div>
            <div class="user__name">
                <p>Василий</p>
                <div class="user__arrow">
                    <img src="./assets/images/common/arrow-down_black.png" alt="Раскрыть меню">
                </div>
            </div>
        </div>
        <div class="user__logout">
            <p>Выйти</p>
        </div>
    </div>
</div>