<div class="lside__addresses addresses">
    <p class="addresses__title">Адреса магазинов</p>
    <div class="addresses__wrapper">
        <div class="addresses__item">
            <p class="addresses__number_bold">Интернет-магазин</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 000)</p>
            <p>+7 (981) <span class="addresses__number_bold">915-22-11</span></p>
            <p>+7 (981) <span class="addresses__number_bold">915-22-11</span></p>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Дунайский пр., д.27</p>
            <p>(812) <span class="addresses__number_bold">6648-22-11</span> (доб. 001)</p>
            <p>+7 (911) <span class="addresses__number_bold">120-27-87</span></p>
            <p>+7 (911) <span class="addresses__number_bold">120-08-58</span></p>
            <p class="addresses__number_bold">zv@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Ивановская ул., 17</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 002)</p>
            <p>(812) <span class="addresses__number_bold">560-31-89</span></p>
            <p>(812) <span class="addresses__number_bold">983-43-06</span></p>
            <p class="addresses__number_bold">iv@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Моховая ул., 42</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 003)</p>
            <p>(812) <span class="addresses__number_bold">579-68-41</span></p>
            <p>(812) <span class="addresses__number_bold">719-73-17</span></p>
            <p class="addresses__number_bold">mox@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Искровский пр-т., 29 корп.2</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 004)</p>
            <p>(812) <span class="addresses__number_bold">574-94-77</span></p>
            <p>(812) <span class="addresses__number_bold">400-29-09</span></p>
            <p class="addresses__number_bold">isk@afonya-spb.ru</p>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Просвещения пр., 46к1</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 005)</p>
            <p>+7 (981) <span class="addresses__number_bold">914-22-11</span></p>
            <p>+7 (981) <span class="addresses__number_bold">913-22-11</span></p>
            <p class="addresses__number_bold">prsv@afonya-spb.ru</p>
            <p class="addresses__department">отдел плитки</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
            <div class="addresses__info">
                <p class="addresses__info-text">Отдельная парковка рядом с магазином не предусмотрена</p>
                <div class="addresses__info-img">
                    <img src="./assets/images/lside/addresses/notice_parking.png" alt="Предупреждение">
                </div>
            </div>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Гаккелевская ул., 33/1</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 006)</p>
            <p>(812) <span class="addresses__number_bold">431-88-71</span></p>
            <p>+7 (981) <span class="addresses__number_bold">918-22-11</span></p>
            <p class="addresses__number_bold">kom@afonya-spb.ru</p>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Ленинский пр-т., 114</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 007)</p>
            <p>(812) <span class="addresses__number_bold">411-64-13</span></p>
            <p>(812) <span class="addresses__number_bold">983-43-09</span></p>
            <p class="addresses__number_bold">len@afonya-spb.ru</p>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Якорная ул., 2</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 008)</p>
            <p>(812) <span class="addresses__number_bold">227-78-39</span></p>
            <p>(812) <span class="addresses__number_bold">642-08-90</span></p>
            <p class="addresses__number_bold">yak@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Энгельса пр., 29</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 009)</p>
            <p>+7 (981) <span class="addresses__number_bold">917-22-11</span></p>
            <p>+7 (981) <span class="addresses__number_bold">905-22-11</span></p>
            <p class="addresses__number_bold">nau@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Косыгина пр., 27/1</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 010)</p>
            <p>(812) <span class="addresses__number_bold">521-63-07</span></p>
            <p>(812) <span class="addresses__number_bold">521-78-59</span></p>
            <p class="addresses__number_bold">kos@afonya-spb.ru</p>
            <p class="addresses__department">отдел плитки</p>
            <div class="addresses__info">
                <p class="addresses__info-text">Отдельная парковка рядом с магазином не предусмотрена</p>
                <div class="addresses__info-img">
                    <img src="./assets/images/lside/addresses/notice_parking_green.png" alt="Предупреждение">
                </div>
            </div>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Железноводская д. 3, 3 этаж, 318 секция</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 011)</p>
            <p>+7 (981) <span class="addresses__number_bold">140-22-11</span></p>
            <p class="addresses__number_bold">vo@afonya-spb.ru</p>
            <p class="addresses__department">дизайн-проект бесплатно (доб. 119)</p>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Народная ул., 21</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 012)</p>
            <p>+7 (981) <span class="addresses__number_bold">174-22-11</span></p>
            <p>+7 (981) <span class="addresses__number_bold">173-22-11</span></p>
            <p class="addresses__number_bold">nrd@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Малый пр. ПС, 65/16</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 013)</p>
            <p>+7 (981) <span class="addresses__number_bold">160-22-11</span></p>
            <p>+7 (981) <span class="addresses__number_bold">180-22-11</span></p>
            <p class="addresses__number_bold">malps@afonya-spb.ru</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Гражданский пр.,15</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 014)</p>
            <p>+7 (911) <span class="addresses__number_bold">915-22-11</span></p>
            <p class="addresses__number_bold">grzh@afonya-spb.ru</p>
            <p class="addresses__department">отдел плитки</p>
            <img src="./assets/images/lside/addresses/adderes-info.png" alt="Инфо">
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Проектно-оптовый отдел</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 700)</p>
            <p>(812) <span class="addresses__number_bold">648-22-93</span></p>
            <p class="addresses__number_bold">optotd@afonya-spb.ru</p>
        </div>
        <div class="addresses__item">
            <p class="addresses__number_bold">Склад и отдел логистики</p>
            <p>(812) <span class="addresses__number_bold">648-22-11</span> (доб. 980)</p>
        </div>
    </div>
</div>