<nav class="lside__nav nav">
    <p class="nav__title">Каталог товаров</p>
    <ul class="nav__wrapper">
        <li class="nav__item nav__parent">
            <span class="nav__icon"></span>
            <a class="nav__link nav__stock" href="#">SALE</a>
        </li>
        <li class="nav__item nav__parent">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Керамическая плитка</a>
            <div class="nav__promo">
            </div>
        </li>
        <li class="nav__item nav__parent">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Ламинат</a>
        </li>
        <li class="nav__item nav__parent">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Обои</a>
            <ul>
                <li class="nav__item nav__child nav__parent">
                    <span class="nav__icon"></span>
                    <a class="nav__link" href="#">CASADECO</a>
                </li>
                <li class="nav__item nav__child">
                    <a class="nav__link" href="#">Midbec</a>
                    <div class="nav__promo">
                    </div>
                </li>
                <li class="nav__item nav__child nav__parent">
                    <span class="nav__icon"></span>
                    <a class="nav__link" href="#">OVK-Design</a>
                    <ul class="block nav__child">
                        <li class="nav__item nav__child">
                            <a class="nav__link" href="#">DIETER LANGER Eleganza</a>
                        </li>
                        <li class="nav__item nav__child">
                            <a class="nav__link" href="#">DIETER LANGER Inspiration</a>
                        </li>
                        <li class="nav__item nav__child">
                            <a class="nav__link" href="#">SIRPI Nature</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item nav__child">
                    <span class="nav__icon"></span>
                    <a class="nav__link" href="#">Thibaut</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Ванны</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Мебель для ванных комнат</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Смесители</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Унитазы, раковины,
                биде</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Инсталляции</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Душевые кабины</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Аксессуары для
                санузла</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Мойки</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Котлы, водонагреватели,
                газовые колонки</a>
        </li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Радиаторы, полотенцесушители, конвекторы</a>
        </li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Теплые полы (электро), греющий кабель</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Водопровод и отопление</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Канализация, дренаж</a>
        </li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Насосы</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Печи банные и отопительные</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Садовая мебель, инвентарь, емкости</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Системы водоочистки</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Вентиляция, кондиционирование</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Бытовая техника</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Крепеж, метизы</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Инструмент</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Электрооборудование</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Разное</a></li>
        <li class="nav__item">
            <span class="nav__icon"></span>
            <a class="nav__link" href="#">Гальваника (покраска изделий)</a>
            <div class="nav__promo">
            </div>
        </li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Уцененный товар</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Дисконтные и подарочные карты</a></li>
        <li class="nav__item"><span class="nav__icon"></span>
            <a class="nav__link" href="#">Натяжные потолки</a></li>
    </ul>
</nav>