<div class="lside__info">
    <div class="lside__wifi wifi">
      <img src="./assets/images/lside/info/free_wi-fi.png" alt="Бесплатный wi-fi">
      <div class="wifi__text">
        <p class="wifi__title">БЕСПЛАТНЫЙ Wi-Fi</p>
        <p>во всех магазинах</p>
      </div>
    </div>
    <div class="lside__link">
      <img src="./assets/images/lside/info/link.png" alt="Сантехника онлайн в интернет магазине Афоня СПб">
    </div>
    <div class="lside__rating">
      <img src="./assets/images/lside/info/rating.png"
        alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете">
    </div>
  </div>