.param {
    position: relative;
    width: 166px;
    cursor: pointer;

    @media (max-width: 1000px) {
        justify-self: center;
        margin: 0;
    }

    .param__title {
        display: flex;
        justify-content: space-between;

        .param__title_text {
            width: 100px;
            line-height: 130%;
        }

        .param__icon {
            opacity: 0;
        }

        .param__icon_visible {
            opacity: 1;
        }
    }

    .param__options-wrapper {
        width: 100%;
        color:
            #222222;
        font-weight: 400;
        max-height: 201px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        position: absolute;
        top: 22px;
        opacity: 0;

        .param__options {
            overflow: auto;
            max-height: 170px;
            padding-left: 6px;
            padding-bottom: 6px;

            & li {
                margin-top: 6px;
                display: flex;
                align-items: center;
                position: relative;
                padding-top: 6px;
            }
        }
    }

    .param__options-wrapper_visible {
        opacity: 1;
        z-index: 1;
    }

    .param__accept {
        background: #0F74D1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding: 10px 0 9px;
    }
}

.param_active {
    color: #0F74D1;
    font-weight: 500;
}